svg {
    background-color:white;
    border-style: solid;}

.arrow {
    stroke: black;
    stroke-width: 1;
    fill: "none";}

.number {
    stroke-width: 2;
    fill: white;
    fill-opacity: 0;
    stroke: red;}

.sign {
    stroke-width: 2;
    fill: white;
    fill-opacity: 0;
    stroke: blue;}

.func {
    stroke-width: 2;
    fill: white;
    fill-opacity: 0;
    stroke: yellow;}

text {
    font-weight: normal;}

#textNumber {
    stroke: black;}

#textSign {
    stroke: green;}

#textFunc {
    stroke: orange;}